<li class="cards__item">
    <div class="skeleton cards__item-img"></div>
    <div class="skeleton skeleton-title cards__item-title"></div>
    <div class="skeleton skeleton-text cards__item-time"></div>
    <div class="skeleton cards__item-loc">
        <div class="skeleton cards__item-loc-img"></div>
        <div class="skeleton cards__item-loc-text"></div>
    </div>
</li>