<li class="cards__item">
    <div class="skeleton skeleton-image"></div>
    <div class="skeleton skeleton-title"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-box">
        <div class="skeleton skeleton-svg"></div>
        <div class="skeleton skeleton-text"></div>
    </div>
</li>