.cards {

    .container {}

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;

        @media (min-width: 610px) {
            gap: 27px;
        }

        @media (min-width: 946px) {
            gap: 70px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        justify-content: space-between;
        flex-basis: calc((100% - 14px) / 2);
        @include outline();
        width: 100%;
        max-width: 128px;

        @media (min-width: 610px) {
            flex-basis: calc((100% - 54px) / 3);
            max-width: 180px;
        }

        @media (min-width: 946px) {
            flex-basis: calc((100% - 280px) / 4);
            max-width: 180px;
        }

        &-img {
            width: 100%;
            max-width: 180px;
            border-radius: 50px 0px 50px 0px;
            max-height: 227px;
            aspect-ratio: 9 / 16;
            object-fit: cover;
        }

        &-title {
            @include text(14px, 700, null, 100%, $main-title-color, null);
        }

        &-time {
            @include text(14px, 700, null, 100%, $main-text-color, null);
        }

        &-loc {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0px 5px 0px 5px;

            &-img {
                margin: auto 0px 0px 0px;
                width: 8px;
                height: 8px;
            }

            &-text {
                @include text(12px, 600, null, null, $main-text-color, null);
                overflow-wrap: anywhere;
                word-break: break-word;
            }
        }
    }
}