.cards {

    .container {}

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;

        @media (min-width: 610px) {
            gap: 27px;
        }

        @media (min-width: 946px) {
            gap: 70px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        flex-basis: calc((100% - 14px) / 2);
        outline: 1px solid red;
        width: 100%;
        max-width: 128px;

        @media (min-width: 610px) {
            flex-basis: calc((100% - 54px) / 3);
            max-width: 180px;
        }

        @media (min-width: 946px) {
            flex-basis: calc((100% - 280px) / 4);
            max-width: 180px;
        }

        &-img {
            width: 100%;
            max-width: 180px;
            border-radius: 50px 0px 50px 0px;
            max-height: 227px;
            aspect-ratio: 9 / 16;
            object-fit: cover;
        }

        &-title {
            width: 100%;
            color: $main-title-color;
            font-size: 14px;
            font-weight: 700;
        }

        &-time {
            width: 100%;
            color: $main-text-color;
            font-size: 14px;
            font-weight: 400;
        }

        &-loc {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 0px 5px 0px 5px;

            &-img {
                margin: auto 0px 0px 0px;
                width: 8px;
                height: 8px;
            }

            &-text {
                color: $main-text-color;
                font-size: 12px;
                font-weight: 600;
                overflow-wrap: anywhere;
                word-break: break-word;
            }
        }
    }
}