.hero {
    padding: 78px 0px 52px 0px;

    @media (min-width: 610px) {
        padding: 40px 0px 123px 0px;
    }

    @media (min-width: 946px) {
        padding: 40px 0px 133px 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 52px;
    }

    &__title {
        @include text(18px, 900, center, 100%, $main-title-color);
        max-width: 589px;

        @media (min-width: 610px) {
            @include text(30px, 900, center, 100%, $main-title-color);
        }

        @media (min-width: 946px) {
            @include text(50px, 900, center, 100%, $main-title-color);
        }
    }

    &__inps {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media (min-width: 610px) {
            flex-direction: row;
            gap: 30px;
        }

        @media (min-width: 946px) {}

        &-box {
            display: flex;
            width: 100%;
            max-width: 270px;
            flex: 1;
            position: relative;

            &-input {
                @include text(16px, 400, start, 100%, $main-text-color, Tektur);
                padding: 10px 0px 10px 30px;
                border-radius: 20px;
                backdrop-filter: blur(10px);
                background-color: $input-color;
                border: none;
                outline: none;
                width: 100%;

                &::placeholder {
                    @include text(16px, 400, start, 100%, $copywright-color, Montserrat);
                }

                &:hover,
                &:focus {
                    opacity: .8;
                }
            }

            // &-img {
            //     fill: $copywright-color;
            //     width: 13px;
            //     height: 13px;
            //     position: absolute;
            //     top: 50%;
            //     right: 30px;
            //     transform: translateY(-50%);
            //     width: 12px;
            //     height: 12px;
            // }

            &:last-child {}

            &:last-child &-input {}

            &:first-child &-btn {
                fill: $copywright-color;
                padding: 8px 15px 8px 15px;
                animation: opacity 2s ease-in-out infinite;

                &:disabled {
                    cursor: not-allowed;
                    background-color: transparent;
                    animation: none;
                }

                &:disabled:hover,
                &:disabled:focus {
                    background-color: transparent;
                }

                &--active {
                    background-color: $main-title-color;

                    .hero__inps-box-img {
                        fill: white;
                    }
                }

                &:hover,
                &:focus {
                    background-color: $main-title-color;
                }
            }

            &-btn {
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
                padding: 9px 10px 5px 10px;
                border-radius: 5px;
                z-index: 0;
                background-color: transparent;
                transition: 250ms;

                &:hover,
                &:focus {
                    background-color: $main-bcg-btn-color;
                }
            }

            &:first-child &-img {
                position: static;
                top: auto;
                right: auto;
                transform: none;
                margin: auto 0px auto 0px;
                z-index: 9;
                width: 12px;
                height: 12px;
                fill: $copywright-color;
            }

            &-img {
                position: static;
                top: auto;
                right: auto;
                transform: none;
                margin: auto 0px auto 0px;
                z-index: 9;
                width: 15px;
                height: 10px;
                fill: $copywright-color;
            }

            &:last-child &-items {
                position: absolute;
                top: calc(100% + 5px);

                left: 50%;
                transform: translateX(-50%);


                min-width: 100%;
                width: max-content;
                max-width: 90vw;
                z-index: 9;
                padding: 10px 25px 10px 25px;
                border-radius: 20px;
                backdrop-filter: blur(10px);
                background-color: $input-color;
                display: flex;
                flex-direction: column;
                gap: 7px;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transition: 250ms;
                transform: translateX(-50%) translateY(0px);
            }

            &:last-child &-items--hidden {
                opacity: 0;
                transform: translateX(-50%) translateY(-6px);
                visibility: hidden;
                pointer-events: none;
                transition: 250ms;
            }

            &:last-child &-item {
                width: 100%;
            }

            &:last-child &-item-btn {
                width: 100%;
                min-width: 100%;
                background-color: transparent;
                color: $main-text-color;
                padding: 5px 10px 5px 10px;
                transition: 250ms;
                border-radius: 15px;


                &:hover,
                &:focus {
                    background-color: $main-bcg-btn-color;
                    color: $main-bcg-btn-text-color;
                }
            }

            &:last-child &-item-text {
                width: 100%;
                min-width: 100%;
                background-color: $main-bcg-error-color;
                color: $main-text-color;
                padding: 5px 10px 5px 10px;
                border-radius: 10px;
            }

            &:last-child &-item {}
        }
    }
}

.is-hidden { display: none; }