@keyframes skeletonShimmer {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(120%);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.skeleton {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background: $main-bcg-btn-color;
    transition: 500ms;
}

.skeleton::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    left: -60%;
    width: 220%;

    background: linear-gradient(90deg,
            $main-bcg-btn-color,
            $copywright-color,
            $main-bcg-btn-color );

    animation: skeletonShimmer 1.1s ease-in-out infinite;
}

.skeleton-image {
    width: 100%;
    height: 320px;
}

.skeleton-svg {
    width: 100%;
    height: 13px;
}

.skeleton-content {
    padding: 15px;
}

.skeleton-title {
    height: 20px;
    width: 80%;
}

.skeleton-text {
    height: 15px;
    width: 50%;
}

.skeleton-box {
    background: linear-gradient(110deg, #a5a5a5 8%, #8a8a8a 18%, #a5a5a5 33%);
    height: 20px;
    width: 50%;
}