@keyframes skeletonLoad {
    to {
        background-position-x: -200%;
    }
}

.skeleton {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s skeletonLoad linear infinite;
    border-radius: 4px;
}

.skeleton-image {
    width: 100%;
    height: 320px;
}

.skeleton-svg {
    width: 100%;
    height: 13px;
}

.skeleton-content {
    padding: 15px;
}

.skeleton-title {
    height: 20px;
    width: 80%;
}

.skeleton-text {
    height: 15px;
    width: 50%;
}

.skeleton-box {
    background: linear-gradient(110deg, #a5a5a5 8%, #8a8a8a 18%, #a5a5a5 33%);
    height: 20px;
    width: 50%;
}