$main-title-color: #DC56C5;
$main-text-color: #FFFFFF;
$main-bcg-btn-color: #7c7c7c;
$main-bcg-btn-text-color: #f1f1f1;
$main-bcg-error-color: #c95d5d;
$input-color: rgba(255, 255, 255, 0.2);
$copywright-color: #939393;
$modal-bcg-color: #FFF2FD;
$modal-bcg-btn-color: #4C00FE;
$modal-text-color: #0E0E0E;
