<div class="skeleton skeleton-img cards__modal-content-body-img"></div>
<div class="cards__modal-content-body-box">
    <ul class="cards__modal-content-body-items">
        <li class="cards__modal-content-body-item">
            <div class="skeleton skeleton-title cards__modal-content-body-item-title"></div>
            <div class="skeleton skeleton-text cards__modal-content-body-item-text"></div>
        </li>
        <li class="cards__modal-content-body-item">
            <div class="skeleton skeleton-title cards__modal-content-body-item-title"></div>
            <div class="skeleton skeleton-text cards__modal-content-body-item-text"></div>
        </li>
        <li class="cards__modal-content-body-item">
            <div class="skeleton skeleton-title cards__modal-content-body-item-title"></div>
            <div class="skeleton skeleton-text cards__modal-content-body-item-text"></div>
        </li>
        <li class="cards__modal-content-body-item">
            <div class="skeleton skeleton-title cards__modal-content-body-item-title"></div>
            <div class="skeleton skeleton-text cards__modal-content-body-item-text"></div>
        </li>
        <li class="cards__modal-content-body-item">
            <div class="skeleton skeleton-title cards__modal-content-body-item-title"></div>
            <div class="cards__modal-content-body-item-box">
                <div class="skeleton skeleton-text cards__modal-content-body-item-box-price"></div>
                <div class="skeleton skeleton-btn cards__modal-content-body-item-box-link"></div>
            </div>
            <div class="cards__modal-content-body-item-box">
                <div class="skeleton skeleton-text cards__modal-content-body-item-box-price"></div>
                <div class="skeleton skeleton-btn cards__modal-content-body-item-box-link"></div>
            </div>
        </li>
    </ul>
</div>